body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
@font-face{
    font-family: "impact";
    src: url(.../fonts/impact.ttf);
    font-style: normal;
    font-weight: 100;
}

/*  fonts: 
        font-family: impact;
        font-family: 'Gloria Hallelujah', cursive;   
        font-family: 'Great Vibes', cursive;
        */    

/*--------------------------------------------screen 1: Penis-----------------------------------------------*/
.screen1{
    height: 100vh;
    background-color: black;
}

.typo{
    color: white;
    font-size: 180px;
    text-align: left;
    font-family: impact;
    padding-left: 3%;
    padding-top: 10%;
    padding-bottom: 5%;
    position: relative;
}

.rect{
    width: 1630px;
    height: 80px;
    background-color: white;
    border-radius: 0px 50px 50px 0px;
    color: black;
    font-size: 50px;
    text-align: end;
    padding: 0.5%;
    font-family: 'Gloria Hallelujah', cursive;
}

/*--------------------------------------------screen 2: big fat fuck-----------------------------------------------*/
.screen2{
    background-color: white;
    height: 100vh;
}

.titel{
    transform: translate(-2000px,0px);
}

.titel.active{
    transform: translate(0px,0px);
}

.opel{
    position: absolute;
    padding-top: 5%;
    padding-left: 10%;
    text-align: right;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 1.7em;
    color: #CB0000;
}
.ha{
    position: absolute;
    left: 22%;
    text-align: center;
    font-family: impact;
    font-size: 28em;
    color:#CB0000;
    padding-right: 5%;
}
.big{
    position: relative;
    padding-right: 4%;
    text-align: right;
    top: 0%;
    font-family: impact;
    font-size: 28em;
    color: black;
}
.fat_fuck{
    position: relative;
    text-align: right;
    top: -10%;
    padding-right: 4%;
    font-family: impact;
    font-size: 28em;
    color: black; 
}

#hide2{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide2>div{
    opacity: 0;
}

/*--------------------------------------------screen 3: menstrutation-----------------------------------------------*/
.screen3{
    background-color: black;
    height: 100vh;
}

.politik{
    position: absolute;
    padding-top: 20%;
    padding-left: 25%;
    text-align: right;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: white;
}

.menstrutation{
    position: relative;
    padding-top: 20%;
    padding-left: 10%;
    text-align: center;
    font-family: 'Great Vibes', cursive; 
    font-size: 4em;
    color: #CB0000;
}

.bisschen{
    position: relative;
    text-align: right;
    padding-right: 28%;
    top: -7%;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: white;
}

.zukunft{
    position: relative;
    text-align: center;
    top: -8%;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: white;
}

#hide3{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide3>div{
    opacity: 0;
}
/*--------------------------------------------screen 4: veganer-----------------------------------------------------*/
.screen4{
    background-color: black;
    height: 100vh;
} 

.KastenRot1{
    position: relative;
    height: 30%;
    width: 50%;
    background-color: #CB0000;
    left: 25%;
}   

.eingefleischt{
    font-family: impact;
    font-weight: 100;
    font-size: 6em;
    text-align: center;
    color: white;
}   

/* ____28.05_____ */
.eingefleischt.active{
    opacity: 0;
}

.Veganer{
    color: #CB0000;
}

#hide4{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide4>div{
    opacity: 0;
}
/* #hide= Text visible machen oder nicht via JS */

/* .fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear{
    opacity: 1;
} */

.Metzger{
    position: relative;
    bottom: 32vw;
    font-family: 'Gloria Hallelujah', cursive;   
    font-weight: 100;
    text-align: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
    z-index: 2;
}

.vorbeischauen{
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;   
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    color: rgb(0, 0, 0);
    z-index: 2;
}

html *{
    opacity: 1;
    transition: opacity 1s ease-out;
}

.KastenRot2{
    position: relative;
    height: 33%;
    width: 50%;
    background-color: #CB0000;
    left: 25%;
    bottom: 18vh;
    transform-origin: top;
    transform: scaleY(1);
    transition: 1s;
    transition-delay: 0s;
}


/*--------------------------------------------screen 5: hoden-------------------------------------------------------*/
.screen5{
    background-color: black;
    height: 100vh;
}
  
.Nation{
    position: relative;
    font-family: impact;
    font-weight: 100;
    font-size: 8em;
    text-align: center;
    padding-top: 22vh;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    transform: scale(0);
}

.Nation.active{
    transform: scale(2);
}

.Roger{
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;   
    top: -24vw;
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    color: rgb(255, 255, 255);
    z-index: 2;
}
    
.Stelle{
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;   
    text-align: center;
    bottom: -2vw;
    font-weight: 400;
    font-size: 2em;
    color: rgb(255, 255, 255);
    z-index: 2;
}
    
#hide5{
    opacity: 1;
    transition: 0.3 all ease-in;
} 
    
#hide5>div{
    opacity: 0;
}

/*--------------------------------------------screen 6: mannequin---------------------------------------------------*/
.screen6{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.Hungerhaken{
    font-family: 'Gloria Hallelujah', cursive;   
    position: relative;
    font-size: 2em;
    text-align: center;
    color: #CB0000;
    top: -31vh;
}
    
.Mannequin{
    font-family: impact;
    font-weight: 400;
    font-size: 8em;
    position: relative;
    text-align: center;
    top: 29vh;
    color: #CB0000;
    z-index:2;
}
    
.zynisch{
    font-family: 'Gloria Hallelujah', cursive;   
    position: relative;
    font-size: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 13vh;
    z-index: 2;
}
    
.Sexappeal{
    color: rgb(255, 255, 255);
}
    
.screen6_2{
    position: relative;
    height: 55vh;
    top: -12vh;
    background-color: #CB0000;
    z-index: 1;
    transform: scaleY(0);
}

.screen6_2.active{
    transform: scaleY(2);
}

#hide6{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide6>div{
    opacity: 0;
}

/*--------------------------------------------screen 7: nippelsaft--------------------------------------------------*/
.screen7{
    background-color: black;
    height: 100vh;
}
.muttermilch{
    padding-top: 10%;
    padding-left: 3%;
    text-align: left;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: white;
}

.nippelsaft{
    padding: 10%;
    text-align: center;
    font-family: 'Great Vibes', cursive; 
    font-size: 9em;
    color: white;
}

.menschenfrauen{
    text-align: right;
    padding-right: 3%;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: white;
}

#hide7{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide7>div{
    opacity: 0;
}

/*--------------------------------------------screen 8: flachbr端stigkeit-----------------------------------------------*/
.screen8{
    background-color: white;
    height: 100vh;
}

.jugend{
    position: relative;
    top: 15vh;
    left: 2vw;
    text-align: left;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3.6em;
    color: black;
}

.wartesaal{
    position: relative;
    top: 18vh;
    right: 2vw;
    text-align: right;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3.6em;
    color: black;
}

.flachbr端stigkeit{
    position: relative;
    top: 30vh;
    text-align: center;
    font-family: impact;
    font-size: 8em;
    color: black;
}

.balken1{
    position: relative;
    height: 5vh;
    width: 100vw;
    top: -40vh;
    left: 2000px;
    background-color: black;
}

.balken2{
    position: relative;
    height: 10vh;
    width: 100vw;
    top: -39vh;
    left: -2000px;
    background-color: black;
}

.balken3{
    position: relative;
    height: 3vh;
    width: 100vw;
    top: -27vh;
    left: 2000px;
    background-color: black;
}

.balken4{
    position: relative;
    height: 8vh;
    width: 100vw;
    top: -15vh;
    left: -2000px;
    background-color: black;
}

.balken5{
    position: relative;
    height: 8vh;
    width: 100vw;
    top: 6vh;
    left: 2000px;
    background-color: black;
}

.balken6{
    position: relative;
    height: 4vh;
    width: 100vw;
    top: 8vh;
    left: -2000px;
    background-color: black;
}

.balken7{
    position: relative;
    height: 20vh;
    width: 100vw;
    top: 12vh;
    left: 2000px;
    background-color: black;
}

#hide8{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide8>div{
    opacity: 0;
}

/*--------------------------------------------screen 9: rosinengesicht-----------------------------------------------*/
.screen9{
    background-color: black;
    height: 100vh;
    position: relative;
}

.vorhaut{
    position: relative;
    top: 0;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5em;
    color: white;
}
.rosinengesicht{
    position: relative;
    top: 38vh;
    text-align: center;
    font-family: impact;
    font-size: 11em;
    color: white;
}
.dieter{
    position: relative;
    top: 22vh;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5em;
    color: white;
}

#hide9{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide9>div{
    opacity: 0;
}

.rosinen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.rosine {
    transform-origin: center;
}
/* position der rosinen*/
.rosine1{
    position: relative;
    left: 7vw;
    top: 18vh;
    transform-origin: bottom;
}
.rosine2{
    position: relative;
    left: 70vw;
    top: 1vh;
}
.rosine3{
    position: relative;
    left: 10vw;
    top: 70vh;
}
.rosine4{
    position: relative;
    left: 0vw;
    top: 35vh;
}
.rosine5{
    position: relative;
    left: 0vw;
    top: 50vh;
}
.rosine6{
    position: relative;
    left: 0vw;
    top: -30vh;
}
.rosine7{
    position: relative;
    left: -10vw;
    top: 25vh;
}
.rosine8{
    position: relative;
    left: -10vw;
    top: -50vh;
}
.rosine9{
    position: relative;
    left: 0vw;
    top: 15vh;
}
.rosine10{
    position: relative;
    left: 12vw;
    top: -15vh;
}
.rosine11{
    position: relative;
    left: 14vw;
    top: -72vh;
}
.rosine12{
    position: relative;
    left: 30vw;
    top: -25vh;
}
.rosine13{
    position: relative;
    left: -8vw;
    top: -85vh;
}
.rosine14{
    position: relative;
    left: 50vw;
    top: -25vh;
}
.rosine15{
    position: relative;
    left: 20vw;
    top: -105vh;
}
.rosine16{
    position: relative;
    left: 35vw;
    top: -130vh;
}
.rosine17{
    position: relative;
    left: 60vw;
    top: -60vh;
}

svg{
    height: 25%;
    width: 25%;
    z-index: 1;
    overflow: visible;
    transition: all 1s ease-in-out;
    transform: scale(1);
}


/*--------------------------------------screen 10: zeitverlust------------------------------------------*/
.screen10{
    background-color: #CB0000;
    height: 100vh;
}
.yay{
    position: relative;
    text-align: left;
    left: 10vw;
    top: 2vh;
    font-family: impact;
    font-size: 20em;
    color: white;
}

.titelScreen10{
    transform: translate(0px,-1000px);
}
.titelScreen10.active{
    transform: translate(0px,0px);
}

.action{
    position: relative;
    text-align: center;
    top: -18vh;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
    color: white;
}
.zeitverlust{
    position: relative;
    text-align: right;
    top: 39vh;
    right: 10vw;
    font-family: impact;
    font-size: 12em;
    color: white;
}

#hide10{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide10>div{
    opacity: 0;
}

/*--------------------------------------------screen 11: buch titel-----------------------------------------------*/
.screen11{
    background-color: white;
    height: 100vh;
}

.buch{
    position: relative;
    top: 27vh;
    text-align: center;
    font-family: impact;
    font-size: 12em;
    color: black;
}

.hazel{
    position: relative;
    text-align: center;
    top: 29vh;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5em;
    color: black;
}

.papiert端te{
    position: relative;
    height: 3.5vh;
    width: 1000vw;
    right: 1010vw;
    top: 11vh;
    background-color: black;
}


/*--------------------------------------------screen 12: papiert端ten-smile-----------------------------------------------*/
.screen12{
    background-color: white;
    height: 100vh;
}

.smile{
    position: relative;
    max-width: 50%;
    display: block;
    margin: auto;
    transform: rotate(0);
}

.smile.active{
    transform: rotate(360deg);
}

.madeby{
    position: relative;
    text-align: right;
    top: 8vh;
    right: 1vw;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1em;
    color: black;
}