body {
    overflow-x: hidden; /*WICHTIGER CHANGE*/
     max-width: 100vw;/*von % auf vw 30.05.2021 *//*WICHTIGER CHANGE (max-width)*/
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
@font-face{
    font-family: "impact";
    src: url(.../fonts/impact.ttf);
    font-style: normal;
    font-weight: 100;
}

/*  fonts: 
        font-family: impact;
        font-family: 'Gloria Hallelujah', cursive;   
        font-family: 'Great Vibes', cursive;
        */


/*--------------------------------------------screen 1: Penis-----------------------------------------------*/
.screen1{
    height: 100vh;
    background-color: black;
    z-index: 1;
}

.typo{
    color: white;
    font-size: 180px;
    text-align: left;
    font-family: impact;
    padding-left: 3%;
    padding-top: 10%;
    padding-bottom: 5%;
    position: relative;
    z-index: 2;
}

.rect{
    width: 1630px;
    height: 80px;
    background-color: white;
    border-radius: 0px 50px 50px 0px;
    color: black;
    font-size: 50px;
    text-align: end;
    padding: 0.5%;
    font-family: 'Gloria Hallelujah', cursive;
    z-index: 2;
}

/* ___31.05____ */
.sperm {
            position: relative;
            background: rgb(255, 255, 255);
            top: -8.5vh;
            left: 65.2vw;
            border: 5px solid rgb(255, 255, 255);
            width: 1vw;
            height: 2vh;
        
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translateY(0); 
    transform: scale(0);
    z-index: 1;
}
.sperm.active{
    transform: translateY(500);
    transform: scale(1);
}
.sperm2 {
    position: relative;
    top: -7vh;
    left: 67.5vw;
    border: 5px solid rgb(255, 255, 255);
    width: 0vw;
    height: 0vh;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translateY(0);
    z-index: 1;
    transform: scale(0.5);
}
.sperm2.active{
    transform: translateY(500);
    transform: scale(2);
}

.Fl端ssigkeit{
    position: relative;
    width: 105vw;
    height: 100vh;
    bottom: -20vw;
    transform: translateY(0);
}
.Fl端ssigkeit.active{
    transform: translateY(-1000);
}
/*--------------------------------------------screen 2: big fat fuck-----------------------------------------------*/
.screen2{
    background-color: white;
    height: 100vh;
}

 .titel{
    transform: translate(-2000px,0px);
}

.titel.active{
    transform: translate(0px,0px);
}
.titel.active2{
    transform: translate(2000px,0px);
} 
/* _____29.05_________ */
 .blacksquare{
    transform: translate(-10000px, 0px);
}
.blacksquare.active{
    transform: translate(0px, 0px);
}  
 .blacksquare{
    width: 99vw;
    height: 89vh;
    top: 11vh; 
    position: absolute; 
    background-color: black;
   z-index: 2;
}  
/* ____________________ */
.opel{
    position: relative;
    left: 9vw;
    top: 8vw;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 1.7em;
    color: #CB0000;
    z-index: 1;
}
.ha{
    position: relative;
    left: -12vw;
    top: -33vh;
    text-align: center;
    font-family: impact;
    font-size: 28em;
    color:#CB0000;
    z-index: 1;
}
.big{
    position: relative;
    bottom: 90vh;
    left: 58vw;
    font-family: impact;
    font-size: 28em;
    color: black;
    z-index: 1;
}
.fat_fuck{
    position: relative;
    left: 5vw;
    top: -104vh;
    font-family: impact;
    font-size: 28em;
    color: black; 
    z-index: 1;
}


/*--------------------------------------------screen 3: menstrutation-----------------------------------------------*/
.screen3{
    background-color: black;
    height: 100vh;
}

.politik{
    position: absolute;
    padding-top: 20%;
    padding-left: 25%;
    text-align: right;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: white;
}

.menstrutation{
    position: relative;
    padding-top: 20%;
    padding-left: 10%;
    text-align: center;
    font-family: 'Great Vibes', cursive; 
    font-size: 4em;
    color: red;
}

.bisschen{
    position: relative;
    text-align: right;
    padding-right: 28%;
    top: -7%;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: white;
}

.zukunft{
    position: relative;
    text-align: center;
    top: -8%;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: white;
}
.tear {
    transform: rotate(-30deg);
    position: relative;
    top: -6vh;
    left: 60.2vw;
    border: 5px solid rgb(255, 0, 0);
    width: 0vw;
    height: 0vh;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.tear.active{
    transform: translateY(2000);
    transform: scale(0.3);
}
.Mensblut{
    fill: #ff0000;
    position: relative;
    width: 99vw;
    top: 40%;
    z-index: 2;
}
.Mensblut.active{
    transform: translateY(1);
}
/*--------------------------------------------screen 4: veganer-----------------------------------------------------*/
.screen4{
    background-color: black;
    height: 100vh;
} 

.KastenRot1{
    position: relative;
    height: 30vh;
    width: 99vw;
    top: -6vh;
    background-color: red;
    transform-origin: top;
    transform: scaleY(1);
    transition: 1s;
    transition-delay: 0s;
}   

.eingefleischt{
    font-family: impact;
    font-weight: 100;
    font-size: 6em;
    text-align: center;
    color: white;
}   

.Veganer{
    color: red;
}

#hide{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide>div{
    opacity: 0;
}
/* #hide= Text visible machen oder nicht via JS */

.Metzger{
    position: relative;
    bottom: 34vw;
    font-family: 'Gloria Hallelujah', cursive;   
    font-weight: 100;
    text-align: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
    z-index: 2;
}

.vorbeischauen{
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;   
    text-align: center;
    font-weight: 400;
    bottom: 5vh;
    font-size: 2em;
    color: rgb(0, 0, 0);
    z-index: 2;
}

html *{
    opacity: 1;
    transition: opacity 1s ease-out;
}

.KastenRot2{
    position: relative;
    height: 33%;
    width: 99vw;
    background-color: red;
    bottom: 18vh;
    transform-origin: top;
    transform: scaleY(1);
    transition: 1s;
    transition-delay: 0s;
}

/*--------------------------------------------screen 5: hoden-------------------------------------------------------*/
.screen5{
    background-color: black;
    height: 100vh;
}
  
.Nation{
    position: relative;
    font-family: impact;
    font-weight: 100;
    font-size: 8em;
    text-align: center;
    padding-top: 22vh;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    transform: scale(0);
}

.Nation.active{
    transform: scale(2);
}


.Roger{
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;   
    top: -24vw;
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    color: rgb(255, 255, 255);
    z-index: 2;
}
    
.Stelle{
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;   
    text-align: center;
    bottom: -2vw;
    font-weight: 400;
    font-size: 2em;
    color: rgb(255, 255, 255);
    z-index: 2;
}
    
#hide2{
    opacity: 1;
    transition: 0.3 all ease-in;
} 
    
#hide2>div{
    opacity: 0;
}

.HodenPNG{
    height: 69vh;
    width: 99vw;
    position: relative;
    background-color: white;
    top: 1vh;
}

/*--------------------------------------------screen 6: mannequin---------------------------------------------------*/
.screen6{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.Hungerhaken{
    font-family: 'Gloria Hallelujah', cursive;   
    position: relative;
    font-size: 2em;
    text-align: center;
    color: red;
    top: -31vh;
}
    
.Mannequin{
    font-family: impact;
    font-weight: 400;
    font-size: 8em;
    position: relative;
    text-align: center;
    top: 29vh;
    color: red;
    z-index:2;
}
    
.zynisch{
    font-family: 'Gloria Hallelujah', cursive;   
    position: relative;
    font-size: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 13vh;
    z-index: 2;
}
    
.Sexappeal{
    color: rgb(255, 255, 255);
}
    
.screen6_2{
    position: relative;
    height: 55vh;
    top: -12vh;
    background-color: red;
    z-index: 1;
    transform: scaleY(0);
    /* transform: translate(0); */
}

.screen6_2.active{
    transform: scaleY(2);
}
.screen6_2.active2{
    transform: translateY(-100);
}

#hide3{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide3>div{
    opacity: 0;
}

/*--------------------------------------------screen 7: nippelsaft--------------------------------------------------*/
.screen7{
    background-color: black;
    height: 100vh;

}
.muttermilch{
    padding-top: 10%;
    padding-left: 3%;
    text-align: left;
    position: relative;
    bottom: 37vh;
    left: 8vw;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.nippelsaft{
    padding: 10%;
    text-align: center;
    position: relative;
    font-family: 'Great Vibes', cursive; 
    font-size: 9em;
    top: 40vh;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.menschenfrauen{
    text-align: right;
    padding-right: 3%;
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;    
    font-size: 2em;
    top: 29vh;
    right: 12vw;
    color: rgb(255, 255, 255);
    z-index: 3;
}
/* .Nippelmilch{
    transform: scale(0);
}

.Nippelmilch.active{
    transform: scale(2);
} */
.Milchoben{
    width: 117vw;
    height: 8vh;
    position: relative;
    top: -202vh;
    left: -2vw;
    z-index: 2;
}
.Milch{
 width: 50vw;
    height: 50vh;
    position: relative;
    top: -106vh;
    left: -1vw;
    z-index: 2;
 transform: scale(1); 
}
 .Milch.active{
    transform: scale(2);
} 
.Milch2{
    width: 60vw;
    height: 50vh;
    position: relative;
    top: -160vh;
    left: 47vw;
    z-index: 2;
 transform: scale(1); 
 transform:translateX(0)
}
.Milch2.active{
    transform: scale(1.5);
    transform:translateX(-300)
} 
#hide7{
    opacity: 1;
    transition: 0.3 all ease-in;
} 

#hide7>div{
    opacity: 0;
}
/*--------------------------------------------screen 8: flachbr端stigkeit-----------------------------------------------*/
.screen8{
    background-color: white;
    height: 100vh;
}

.wartesaal{
    padding-top: 12%;
    position: relative;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5em;
    color: black;
}

.flachbr端stigkeit{
    position: relative;
    text-align: center;
    font-family: impact;
    font-size: 11em;
    color: black;
}
/*--------------------------------------------screen 9: rosinengesicht-----------------------------------------------*/
.screen9{
    background-color: black;
    height: 100vh;
    position: relative;
}

.vorhaut{
    position: relative;
    top: 20%;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5em;
    color: white;
}
.rosinengesicht{
    position: relative;
    top: 22%;
    text-align: center;
    font-family: impact;
    font-size: 11em;
    color: white;
}
.dieter{
    position: relative;
    top: 26%;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5em;
    color: white;
}

.rosinen{
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100vh;
}

.rosine {
    transform-origin: center center;
}
/* position der rosinen*/
.rosine1{
    /* transform: translate(160px ,160px); */
    position: absolute;
    left: 25%;
    top: 25%;
}
.rosine2{
    position: absolute;
    left: 100%;
    top: 50%;
}
.rosine3{
    position: absolute;
    left: 10vw;
    top: 50%;
}
.rosine4{
    position: absolute;
    left: 107px;
    top: 80px;
}
.rosine5{
    position: absolute;
    left: 350px;
    top: 80px;
}
.rosine6{
    position: absolute;
    left: -100px;
    top: 590px;
}
.rosine7{
    position: absolute;
    left: 1230px;
    top: 430px;
}
.rosine8{
    position: absolute;
    left: 0px;
    top: 400px;
}
.rosine9{
    position: absolute;
    left: 0px;
    top: 350px;
}
.rosine10{

    position: absolute;
    left: 420px;
    top: 0px;
}
.rosine11{
    position: absolute;
    left: 460px;
    top: 40px;
}
.rosine12{
       position: absolute;
    left: -40px;
    top: -100px;
}
.rosine13{
    position: absolute;
    left: 70px;
    top: 30px;
}

svg{
    height: 40%;
    width: 40%;
    z-index: 1;
    overflow: visible;
    transition: all 1s ease-in-out;
    transform: scale(1);
}


/*--------------------------------------screen 10: zeitverlust------------------------------------------*/
.screen10{
    background-color: #CB0000;
    height: 100vh;
}
.yay{
    position: relative;
    text-align: left;
    padding-left: 10%;
    font-family: impact;
    font-size: 20em;
    color: white;
}
.action{
    position: relative;
    text-align: center;
    padding-top: 5%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
    color: white;
}
.zeitverlust{
    position: relative;
    text-align: right;
    padding-right: 10%;
    top: 8%;
    font-family: impact;
    font-size: 12em;
    color: white;
}

/*--------------------------------------------screen 11: end screen (buch empfehlung)-----------------------------------------------*/
.screen11{
    background-color: white;
    height: 100vh;
}

.buch{
    padding-top: 15%;
    position: relative;
    text-align: right;
    padding-right: 10%;
    font-family: impact;
    font-size: 12em;
    color: black;
}

.hazel{
    position: relative;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5em;
    color: black;
}